<ion-content [fullscreen]="true">
  <ion-list class="ion-padding">
    <ion-item lines="none">
      <ion-label class="lbl">BIENVENIDO</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="nom">Mamaní Vargas, Manuel</ion-label>
      <img class="imgper" src="/assets/iconper.png" alt="perfil" />
    </ion-item>
    <ion-item class="ibtn" lines="none">
      <ion-buttons slot="start">
        <ion-button class="btn btnen" (click)="mostrarEntradas()"> Entradas </ion-button>
        <ion-button class="btn btnsal" (click)="mostrarSalidas()"> Salidas </ion-button>
      </ion-buttons>
    </ion-item>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col class="tit" size="3"><strong>Usuario</strong></ion-col>
          <ion-col class="tit" size="3"><strong>Correo</strong></ion-col>
          <ion-col class="tit" size="3"><strong>Fecha</strong></ion-col>
          <ion-col class="tit" size="3"><strong>Hora</strong></ion-col>
        </ion-row>
        <ion-row *ngFor="let registro of registros">
          <ion-col class="sub" size="3">{{ registro.usuario }}</ion-col>
          <ion-col class="sub" size="3">{{ registro.correo }}</ion-col>
          <ion-col class="sub" size="3">{{ registro.fecha }}</ion-col>
          <ion-col class="sub" size="3">{{ registro.hora }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-item lines="none">
      <ion-button routerLink="/login" class="btnex"> Salir </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
